<section>
  <h1>About me</h1>
  <img src="/images/peter/peter_sylt_300x200.png" alt="Peter Friese"  width="100%"/>
  I am a software engineer with 15+ years hands-on experience in software development, technical writing and <a href="/speaking/">public speaking</a>. I work as a Developer Advocate at Google in the Google+ Developer Relations Team in London, UK. Having worked on a host of industry projects in diverse domains and being an active committer on a number of open source projects, I have in-depth knowledge in a broad range of technologies. I am deeply interested in everything mobile and social. Follow me on Twitter at <a href="http://www.twitter.com/peterfriese">@peterfriese</a> and on Google+ at <a href="https://plus.google.com/+PeterFriese?rel=author">+peterfriese</a>. 

  This is my personal blog. The views expressed on these pages are mine alone and not necessarily those of my employer.
</section>
