<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AudioList</key>
		<array>
			<dict>
				<key>AudioBitrate</key>
				<string>128</string>
				<key>AudioEncoder</key>
				<string>AAC (CoreAudio)</string>
				<key>AudioMixdown</key>
				<string>Dolby Pro Logic II</string>
				<key>AudioSamplerate</key>
				<string>Auto</string>
				<key>AudioTrack</key>
				<integer>1</integer>
				<key>AudioTrackDRCSlider</key>
				<real>0.0</real>
				<key>AudioTrackDescription</key>
				<string>English (AC3) (5.1 ch)</string>
			</dict>
			<dict>
				<key>AudioBitrate</key>
				<string>128</string>
				<key>AudioEncoder</key>
				<string>AAC (CoreAudio)</string>
				<key>AudioMixdown</key>
				<string>Dolby Pro Logic II</string>
				<key>AudioSamplerate</key>
				<string>Auto</string>
				<key>AudioTrack</key>
				<integer>2</integer>
				<key>AudioTrackDRCSlider</key>
				<real>0.0</real>
				<key>AudioTrackDescription</key>
				<string>Deutsch (AC3) (5.1 ch)</string>
			</dict>
		</array>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>Folder</key>
		<false/>
		<key>Mp4HttpOptimize</key>
		<integer>0</integer>
		<key>Mp4LargeFile</key>
		<integer>0</integer>
		<key>Mp4iPodCompatible</key>
		<integer>0</integer>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeblock</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureDenoise</key>
		<integer>0</integer>
		<key>PictureDetelecine</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>1</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PictureModulus</key>
		<integer>16</integer>
		<key>PicturePAR</key>
		<integer>0</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>1024</integer>
		<key>PresetDescription</key>
		<string>encode for iPad</string>
		<key>PresetName</key>
		<string>iPad</string>
		<key>Type</key>
		<integer>1</integer>
		<key>UsesPictureFilters</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VFR</key>
		<integer>0</integer>
		<key>VideoAvgBitrate</key>
		<string>960</string>
		<key>VideoEncoder</key>
		<string>H.264 (x264)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>20</real>
		<key>VideoQualityType</key>
		<integer>2</integer>
		<key>VideoTargetSize</key>
		<string>700</string>
		<key>VideoTwoPass</key>
		<integer>0</integer>
		<key>x264Option</key>
		<string>cabac=0:ref=2:me=umh:bframes=0:subme=6:8x8dct=0:trellis=0</string>
	</dict>
</array>
</plist>
